In [191]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline
import seaborn as sns
import os
import warnings
warnings.filterwarnings('ignore')

In [192]:
#All data
validation_data=pd.read_csv("G:\\Shraddha\\BABI\\Project\\NewData\\LoanStats_2016-2017.csv");

In [193]:
validation_data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,74625266,NaN,24000,24000,24000.0,60 months,11.99%,533.75,C,C1,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,75840381,NaN,10000,10000,10000.0,36 months,6.49%,306.45,A,A2,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,75879883,NaN,8000,8000,8000.0,36 months,6.49%,245.16,A,A2,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,76033360,NaN,30000,30000,30000.0,60 months,11.47%,659.33,B,B5,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,75973978,NaN,30000,30000,30000.0,60 months,11.99%,667.19,C,C1,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [194]:
for column in validation_data: 
    print(column)

id
member_id
loan_amnt
funded_amnt
funded_amnt_inv
term
int_rate
installment
grade
sub_grade
emp_title
emp_length
home_ownership
annual_inc
verification_status
issue_d
loan_status
pymnt_plan
url
desc
purpose
title
zip_code
addr_state
dti
delinq_2yrs
earliest_cr_line
fico_range_low
fico_range_high
inq_last_6mths
mths_since_last_delinq
mths_since_last_record
open_acc
pub_rec
revol_bal
revol_util
total_acc
initial_list_status
out_prncp
out_prncp_inv
total_pymnt
total_pymnt_inv
total_rec_prncp
total_rec_int
total_rec_late_fee
recoveries
collection_recovery_fee
last_pymnt_d
last_pymnt_amnt
next_pymnt_d
last_credit_pull_d
last_fico_range_high
last_fico_range_low
collections_12_mths_ex_med
mths_since_last_major_derog
policy_code
application_type
annual_inc_joint
dti_joint
verification_status_joint
acc_now_delinq
tot_coll_amt
tot_cur_bal
open_acc_6m
open_act_il
open_il_12m
open_il_24m
mths_since_rcnt_il
total_bal_il
il_util
open_rv_12m
open_rv_24m
max_bal_bc
all_util
total_rev_hi_lim
inq_fi
total_cu_tl
inq_last_12m
acc_open_past_24mths
avg_cur_bal
bc_open_to_buy
bc_util
chargeoff_within_12_mths
delinq_amnt
mo_sin_old_il_acct
mo_sin_old_rev_tl_op
mo_sin_rcnt_rev_tl_op
mo_sin_rcnt_tl
mort_acc
mths_since_recent_bc
mths_since_recent_bc_dlq
mths_since_recent_inq
mths_since_recent_revol_delinq
num_accts_ever_120_pd
num_actv_bc_tl
num_actv_rev_tl
num_bc_sats
num_bc_tl
num_il_tl
num_op_rev_tl
num_rev_accts
num_rev_tl_bal_gt_0
num_sats
num_tl_120dpd_2m
num_tl_30dpd
num_tl_90g_dpd_24m
num_tl_op_past_12m
pct_tl_nvr_dlq
percent_bc_gt_75
pub_rec_bankruptcies
tax_liens
tot_hi_cred_lim
total_bal_ex_mort
total_bc_limit
total_il_high_credit_limit
revol_bal_joint
sec_app_fico_range_low
sec_app_fico_range_high
sec_app_earliest_cr_line
sec_app_inq_last_6mths
sec_app_mort_acc
sec_app_open_acc
sec_app_revol_util
sec_app_open_act_il
sec_app_num_rev_accts
sec_app_chargeoff_within_12_mths
sec_app_collections_12_mths_ex_med
sec_app_mths_since_last_major_derog
hardship_flag
hardship_type
hardship_reason
hardship_status
deferral_term
hardship_amount
hardship_start_date
hardship_end_date
payment_plan_start_date
hardship_length
hardship_dpd
hardship_loan_status
orig_projected_additional_accrued_interest
hardship_payoff_balance_amount
hardship_last_payment_amount
debt_settlement_flag
debt_settlement_flag_date
settlement_status
settlement_date
settlement_amount
settlement_percentage
settlement_term

In [195]:
import datetime

In [196]:
validation_data['loan_age']=pd.to_datetime("01-01-2021")-pd.to_datetime(validation_data['issue_d'])
validation_data['loan_age']=validation_data['loan_age'].astype(str)
validation_data['loan_age'] = validation_data['loan_age'].str.replace('days','')
validation_data['loan_age'] = validation_data['loan_age'].str.replace('00:00:00.000000000','')
validation_data['loan_age']=validation_data['loan_age'].astype(int)

In [197]:
#convert fico score by taking average
validation_data['fico_value']=(validation_data['fico_range_high']+validation_data['fico_range_low'])/2
validation_data.drop(['fico_range_high','fico_range_low'], axis=1,inplace=True)

In [198]:
#create array with existing columns
present_column = np.array(['loan_amnt',
'term',
'installment',
'home_ownership',
'annual_inc',
'verification_status',
'loan_status',
'purpose',
'addr_state',
'dti',
'delinq_2yrs',
'pub_rec',
'revol_bal',
'total_acc',
'initial_list_status',
'application_type',
'loan_age',
'fico_value',
'loan_age',
'fico_value',
'mort_acc','int_rate','grade','sub_grade'
])

In [199]:
for column in validation_data:
    exists = column in present_column
    if(exists == False):
        del validation_data[column]
        print(column)

id
member_id
funded_amnt
funded_amnt_inv
emp_title
emp_length
issue_d
pymnt_plan
url
desc
title
zip_code
earliest_cr_line
inq_last_6mths
mths_since_last_delinq
mths_since_last_record
open_acc
revol_util
out_prncp
out_prncp_inv
total_pymnt
total_pymnt_inv
total_rec_prncp
total_rec_int
total_rec_late_fee
recoveries
collection_recovery_fee
last_pymnt_d
last_pymnt_amnt
next_pymnt_d
last_credit_pull_d
last_fico_range_high
last_fico_range_low
collections_12_mths_ex_med
mths_since_last_major_derog
policy_code
annual_inc_joint
dti_joint
verification_status_joint
acc_now_delinq
tot_coll_amt
tot_cur_bal
open_acc_6m
open_act_il
open_il_12m
open_il_24m
mths_since_rcnt_il
total_bal_il
il_util
open_rv_12m
open_rv_24m
max_bal_bc
all_util
total_rev_hi_lim
inq_fi
total_cu_tl
inq_last_12m
acc_open_past_24mths
avg_cur_bal
bc_open_to_buy
bc_util
chargeoff_within_12_mths
delinq_amnt
mo_sin_old_il_acct
mo_sin_old_rev_tl_op
mo_sin_rcnt_rev_tl_op
mo_sin_rcnt_tl
mths_since_recent_bc
mths_since_recent_bc_dlq
mths_since_recent_inq
mths_since_recent_revol_delinq
num_accts_ever_120_pd
num_actv_bc_tl
num_actv_rev_tl
num_bc_sats
num_bc_tl
num_il_tl
num_op_rev_tl
num_rev_accts
num_rev_tl_bal_gt_0
num_sats
num_tl_120dpd_2m
num_tl_30dpd
num_tl_90g_dpd_24m
num_tl_op_past_12m
pct_tl_nvr_dlq
percent_bc_gt_75
pub_rec_bankruptcies
tax_liens
tot_hi_cred_lim
total_bal_ex_mort
total_bc_limit
total_il_high_credit_limit
revol_bal_joint
sec_app_fico_range_low
sec_app_fico_range_high
sec_app_earliest_cr_line
sec_app_inq_last_6mths
sec_app_mort_acc
sec_app_open_acc
sec_app_revol_util
sec_app_open_act_il
sec_app_num_rev_accts
sec_app_chargeoff_within_12_mths
sec_app_collections_12_mths_ex_med
sec_app_mths_since_last_major_derog
hardship_flag
hardship_type
hardship_reason
hardship_status
deferral_term
hardship_amount
hardship_start_date
hardship_end_date
payment_plan_start_date
hardship_length
hardship_dpd
hardship_loan_status
orig_projected_additional_accrued_interest
hardship_payoff_balance_amount
hardship_last_payment_amount
debt_settlement_flag
debt_settlement_flag_date
settlement_status
settlement_date
settlement_amount
settlement_percentage
settlement_term

In [200]:
#check total different categories for loan_status
validation_data['loan_status'].value_counts()

Fully Paid            642250
Charged Off           150089
Current                81611
In Grace Period         1816
Late (31-120 days)      1700
Late (16-30 days)        469
Default                   51
Name: loan_status, dtype: int64

In [201]:
#drop rows having status Current,In Grace Period ,Late (31-120 days),Late (16-30 days),Default
options = ['Current','In Grace Period','Late (31-120 days)','Default', 'Late (16-30 days)']  
validation_data.drop(validation_data[validation_data['loan_status'].isin(options)].index, inplace = True)

In [202]:
#to replace Does not meet the credit policy. Status:Fully Paid status to Fully Paid
#and replace Does not meet the credit policy. Status:Charged Off to Charged Off in loan_status column 
validation_data["loan_status"].replace({"Does not meet the credit policy. Status:Fully Paid": "Fully Paid", "Does not meet the credit policy. Status:Charged Off": "Charged Off"}, inplace=True)

In [203]:
validation_data['delinq_2yrs'] = validation_data['delinq_2yrs'].replace(np.nan, 0)
validation_data['pub_rec'] = validation_data['pub_rec'].replace(np.nan, 0)
validation_data['total_acc'] = validation_data['total_acc'].replace(np.nan, 1)
validation_data['term'] = validation_data['term'].str.replace('months','')
validation_data['mort_acc'] = validation_data['mort_acc'].replace(np.nan, 0)

In [205]:
#no missing records
validation_data.isna().sum()

loan_amnt                0
term                     0
int_rate                 0
installment              0
grade                    0
sub_grade                0
home_ownership           0
annual_inc               0
verification_status      0
loan_status              0
purpose                  0
addr_state               0
dti                    469
delinq_2yrs              0
pub_rec                  0
revol_bal                0
total_acc                0
initial_list_status      0
application_type         0
mort_acc                 0
loan_age                 0
fico_value               0
dtype: int64

In [206]:
validation_data['dti'].describe()

count    791870.000000
mean         18.892414
std          13.948130
min          -1.000000
25%          12.030000
50%          17.990000
75%          24.690000
max         999.000000
Name: dti, dtype: float64

In [207]:
#drop rows with null value
validation_data.drop( validation_data[validation_data['dti'].isna()].index, inplace=True)

In [208]:
cols = [col for col in validation_data.columns if col not in ['int_rate','grade','sub_grade']]
df2 = validation_data[cols]

In [209]:
df2['loan_status'] = df2['loan_status'].str.replace('Fully Paid','0')
df2['loan_status'] = df2['loan_status'].str.replace('Charged Off','1')
df2['loan_status']=df2['loan_status'].astype(int)

In [210]:
test_data_1=pd.read_csv("G:\\Shraddha\\BABI\\Project\\NewData\\validation_data.csv");

In [211]:
#compare train and test column names
a = np.intersect1d(test_data_1.columns, validation_data.columns)
#print (a)
b=test_data_1.columns
#print(b)
c=np.array(b)
#type(c)
print(np.setdiff1d(c,a))

['Unnamed: 0' 'open_acc']

In [212]:
one_hot_test=pd.get_dummies(df2, columns=["verification_status", "purpose","addr_state","application_type","initial_list_status","home_ownership"], prefix=[
    "verification_status.", "purpose.","addr_state.","application_type.","initial_list_status.","home_ownership."])

In [213]:
one_hot_test['addr_state.west'] =sum([one_hot_test['addr_state._CA'],
                                       one_hot_test['addr_state._AZ'],
                                       one_hot_test['addr_state._WA'],
                                       one_hot_test['addr_state._CO'],
                                       one_hot_test['addr_state._NV'],
                                       one_hot_test['addr_state._OR'],
                                       one_hot_test['addr_state._UT'],
                                       one_hot_test['addr_state._NM'],
                                       one_hot_test['addr_state._HI'],
                                       one_hot_test['addr_state._FL'],
                                       one_hot_test['addr_state._AK'],
                                       one_hot_test['addr_state._WY'],
                                       one_hot_test['addr_state._ID']
                                     ])
one_hot_test['addr_state.Mid_West'] =sum([one_hot_test['addr_state._IL'],
                                            one_hot_test['addr_state._OH'],
                                            one_hot_test['addr_state._MI'],
                                            one_hot_test['addr_state._MN'],
                                            one_hot_test['addr_state._MO'],
                                            one_hot_test['addr_state._IN'],
                                            one_hot_test['addr_state._WI'],
                                            one_hot_test['addr_state._KS'],
                                            one_hot_test['addr_state._SD'],
                                            one_hot_test['addr_state._NE'],
                                            one_hot_test['addr_state._ND']
                                           # one_hot_test['addr_state._IA']
                                    ])
one_hot_test['addr_state.North_East'] =sum([one_hot_test['addr_state._NY'],
                                            one_hot_test['addr_state._NJ'],
                                            one_hot_test['addr_state._PA'],
                                            one_hot_test['addr_state._MA'],
                                            one_hot_test['addr_state._CT'],
                                            one_hot_test['addr_state._NH'],
                                            one_hot_test['addr_state._RI'],
                                            one_hot_test['addr_state._DE'],
                                            one_hot_test['addr_state._DC'],
                                            one_hot_test['addr_state._VT'],
                                            one_hot_test['addr_state._ME']
                                               ])
one_hot_test['addr_state.South'] =sum([one_hot_test['addr_state._TX'],
                                            one_hot_test['addr_state._FL'],
                                            one_hot_test['addr_state._GA'],
                                            one_hot_test['addr_state._VA'],
                                            one_hot_test['addr_state._NC'],
                                            one_hot_test['addr_state._MD'],
                                            one_hot_test['addr_state._TN'],
                                            one_hot_test['addr_state._AL'],
                                            one_hot_test['addr_state._SC'],
                                            one_hot_test['addr_state._LA'],
                                            one_hot_test['addr_state._KY'],
                                            one_hot_test['addr_state._OK'],
                                            one_hot_test['addr_state._AR'],
                                            one_hot_test['addr_state._WV'],
                                            one_hot_test['addr_state._MS']  
                                            ])

In [214]:
one_hot_test.drop(['addr_state._AK','addr_state._CA','addr_state._AL','addr_state._AR','addr_state._AZ','addr_state._CO',
'addr_state._CT','addr_state._DC','addr_state._DE','addr_state._FL','addr_state._GA','addr_state._HI',
'addr_state._ID','addr_state._IL','addr_state._IN','addr_state._KS','addr_state._KY','addr_state._LA',
'addr_state._MA','addr_state._MD','addr_state._ME','addr_state._MI','addr_state._MN','addr_state._MO',
'addr_state._MS','addr_state._MT','addr_state._NC','addr_state._ND','addr_state._NE','addr_state._NH',
'addr_state._NJ','addr_state._NM','addr_state._NV','addr_state._NY','addr_state._OH','addr_state._OK',
'addr_state._OR','addr_state._PA','addr_state._RI','addr_state._SC','addr_state._SD','addr_state._TN',
'addr_state._TX','addr_state._UT','addr_state._VA','addr_state._VT','addr_state._WA','addr_state._WI',
'addr_state._WV','addr_state._WY'], axis=1,inplace=True)

In [215]:
#write clean dataframe into csv
#validation_data.to_csv('G:\\Shraddha\\BABI\\Project\\NewData\\validation_data.csv')

In [216]:
one_hot_test['home_ownership._OTHER']=0

In [217]:
validation_data.shape

(791870, 22)

In [218]:
one_hot_test

,loan_amnt,term,installment,annual_inc,loan_status,dti,delinq_2yrs,pub_rec,revol_bal,total_acc,...,home_ownership._ANY,home_ownership._MORTGAGE,home_ownership._NONE,home_ownership._OWN,home_ownership._RENT,addr_state.west,addr_state.Mid_West,addr_state.North_East,addr_state.South,home_ownership._OTHER
0,24000,60,533.75,105000.0,0,16.26,0,0,12028,22,...,0,1,0,0,0,1,0,0,0,0
1,10000,36,306.45,65000.0,0,16.16,4,0,5667,28,...,0,0,0,0,1,1,0,0,0,0
2,8000,36,245.16,38000.0,0,19.84,0,0,10082,24,...,0,0,0,1,0,0,0,0,1,0
3,30000,60,659.33,72000.0,0,22.63,0,0,23034,42,...,0,1,0,0,0,0,1,0,0,0
5,19600,60,527.50,75000.0,1,20.24,0,0,1584,15,...,0,0,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
877978,3500,36,114.44,21000.0,0,24.80,1,0,3503,28,...,0,0,0,1,0,0,0,0,1,0
877979,21000,60,691.60,90000.0,0,26.44,1,0,20131,30,...,0,1,0,0,0,0,0,0,1,0
877982,12000,60,358.01,30000.0,0,19.28,3,0,3497,26,...,0,1,0,0,0,1,0,0,0,0
877983,10000,36,332.10,64000.0,0,12.96,0,0,7094,13,...,0,0,0,1,0,0,1,0,0,0
877984,16550,60,451.94,60000.0,1,18.40,0,0,25760,14,...,0,0,0,0,1,0,0,1,0,0

In [219]:
x_test=one_hot_test.drop(['loan_status'],axis=1) 
y_test=one_hot_test.loan_status

In [220]:
for column in x_test:
    print(column)

loan_amnt
term
installment
annual_inc
dti
delinq_2yrs
pub_rec
revol_bal
total_acc
mort_acc
loan_age
fico_value
verification_status._Not Verified
verification_status._Source Verified
verification_status._Verified
purpose._car
purpose._credit_card
purpose._debt_consolidation
purpose._educational
purpose._home_improvement
purpose._house
purpose._major_purchase
purpose._medical
purpose._moving
purpose._other
purpose._renewable_energy
purpose._small_business
purpose._vacation
purpose._wedding
application_type._Individual
application_type._Joint App
initial_list_status._f
initial_list_status._w
home_ownership._ANY
home_ownership._MORTGAGE
home_ownership._NONE
home_ownership._OWN
home_ownership._RENT
addr_state.west
addr_state.Mid_West
addr_state.North_East
addr_state.South
home_ownership._OTHER

In [221]:
import pickle

In [222]:
Pkl_Filename = "G:\\Shraddha\\BABI\\Project\\NewData\\Pickle_LR_Model.pkl"  
with open(Pkl_Filename, 'rb') as file:  
    Pickled_LR_Model = pickle.load(file)

In [223]:
Pickled_LR_Model

LogisticRegression(max_iter=1000)

In [224]:
pred_test=Pickled_LR_Model.predict(x_test)

In [225]:
pred1=Pickled_LR_Model.predict_proba(x_test)

In [226]:
y_pred = pd.DataFrame()
y_pred['prob'] = pred1[:,1]
y_pred['loan_status_pred']=pred_test
y_test = pd.DataFrame(y_test)
y_test['index1'] = y_test.index
y_test = y_test.reset_index()
y_test = pd.concat([y_test,y_pred],axis=1)
y_test.set_index('index1')
validation_data = validation_data.reset_index()
Predicted_data = pd.merge(validation_data,y_test,how = 'inner',left_index = True, right_index = True)

In [227]:
validation_data['loan_status']

0          Fully Paid
1          Fully Paid
2          Fully Paid
3          Fully Paid
4         Charged Off
             ...
791865     Fully Paid
791866     Fully Paid
791867     Fully Paid
791868     Fully Paid
791869    Charged Off
Name: loan_status, Length: 791870, dtype: object

In [228]:
Predicted_data['loan_status_pred']=Predicted_data['loan_status_pred'].astype(str)
Predicted_data['loan_status_pred'] = Predicted_data['loan_status_pred'].str.replace('0','Fully Paid')
Predicted_data['loan_status_pred'] = Predicted_data['loan_status_pred'].str.replace('1','Charged Off')

In [229]:
Predicted_data.head()

,index_x,loan_amnt,term,int_rate,installment,grade,sub_grade,home_ownership,annual_inc,verification_status,...,initial_list_status,application_type,mort_acc,loan_age,fico_value,index_y,loan_status_y,index1,prob,loan_status_pred
0,0,24000,60,11.99%,533.75,C,C1,MORTGAGE,105000.0,Source Verified,...,w,Individual,2,1825,662.0,0,0,0,0.556664,Charged Off
1,1,10000,36,6.49%,306.45,A,A2,RENT,65000.0,Source Verified,...,w,Individual,3,1825,682.0,1,0,1,0.375610,Fully Paid
2,2,8000,36,6.49%,245.16,A,A2,OWN,38000.0,Not Verified,...,w,Individual,0,1825,687.0,2,0,2,0.411536,Fully Paid
3,3,30000,60,11.47%,659.33,B,B5,MORTGAGE,72000.0,Source Verified,...,w,Individual,3,1825,702.0,3,0,3,0.412408,Fully Paid
4,5,19600,60,20.75%,527.50,E,E2,RENT,75000.0,Source Verified,...,w,Individual,0,1825,702.0,5,1,5,0.764339,Charged Off

In [230]:
Predicted_data['Score']=0

In [231]:
prob_min=0
prob_max=1
score_min=300
score_max=800
int_rate_min=2
int_rate_max=22

In [232]:
Predicted_data['Score']=round(((1-Predicted_data['prob'])-prob_min)/(prob_max-prob_min)*(score_max-score_min)+score_min)

In [233]:
#300-500 high_risk
#500-650 Medium risk
#650-800 low_risk
# create a list of our conditions
conditions = [
    (Predicted_data['Score'] <= 500),
    (Predicted_data['Score'] > 500) & (Predicted_data['Score'] <= 650),
    (Predicted_data['Score'] > 650)
    ]

# create a list of the values we want to assign for each condition
values = ['high_risk', 'Medium_risk', 'low_risk']

# create a new column and use np.select to assign values to it using our lists as arguments
Predicted_data['Risk_category'] = np.select(conditions, values)

In [234]:
Predicted_data['int_rate_pred']=0

In [235]:
Predicted_data['int_rate_pred']=round((Predicted_data['prob']-prob_min)/(prob_max-prob_min)*(int_rate_max-int_rate_min)+int_rate_min)

In [236]:
Predicted_data.head()

,index_x,loan_amnt,term,int_rate,installment,grade,sub_grade,home_ownership,annual_inc,verification_status,...,loan_age,fico_value,index_y,loan_status_y,index1,prob,loan_status_pred,Score,Risk_category,int_rate_pred
0,0,24000,60,11.99%,533.75,C,C1,MORTGAGE,105000.0,Source Verified,...,1825,662.0,0,0,0,0.556664,Charged Off,522.0,Medium_risk,13.0
1,1,10000,36,6.49%,306.45,A,A2,RENT,65000.0,Source Verified,...,1825,682.0,1,0,1,0.375610,Fully Paid,612.0,Medium_risk,10.0
2,2,8000,36,6.49%,245.16,A,A2,OWN,38000.0,Not Verified,...,1825,687.0,2,0,2,0.411536,Fully Paid,594.0,Medium_risk,10.0
3,3,30000,60,11.47%,659.33,B,B5,MORTGAGE,72000.0,Source Verified,...,1825,702.0,3,0,3,0.412408,Fully Paid,594.0,Medium_risk,10.0
4,5,19600,60,20.75%,527.50,E,E2,RENT,75000.0,Source Verified,...,1825,702.0,5,1,5,0.764339,Charged Off,418.0,high_risk,17.0

In [237]:
Predicted_data.drop(['index_x','index_y','loan_status_y','index1'], axis=1,inplace=True)

In [238]:
Predicted_data.to_csv('G:\\Shraddha\\BABI\\Project\\NewData\\predicted_data_0317.csv')

In [239]:
Predicted_data.dtypes

loan_amnt                int64
term                    object
int_rate                object
installment            float64
grade                   object
sub_grade               object
home_ownership          object
annual_inc             float64
verification_status     object
loan_status_x           object
purpose                 object
addr_state              object
dti                    float64
delinq_2yrs              int64
pub_rec                  int64
revol_bal                int64
total_acc                int64
initial_list_status     object
application_type        object
mort_acc                 int64
loan_age                 int32
fico_value             float64
prob                   float64
loan_status_pred        object
Score                  float64
Risk_category           object
int_rate_pred          float64
dtype: object